<nav class="navbar navbar-expand-lg navbar-dark ">    
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav navbar-dark">
        {% for item in site.data.navigation %}
          <a class="navbar-brand" href="{{ item.link }}" {% if page.url == item.link %} id="highlight"{% endif %}>
            {{ item.name }}</a>
        {% endfor %}        
      </div>      
    </div>
  </div>
</nav>
