  <nav class="navbar navbar-expand-lg navbar-dark ">
 {% if site.data.menus.primary[0] %}
                        {% for item in site.data.menus.primary %}
                           {% if item.subfolderitems[0] %}
                              <ul class="menu">
                              {% for entry in item.subfolderitems %}
                                    <li class="{% if entry.subsubfolderitems[0] %}has-sub{% endif %} menu-item">
                                       <a class="menu-link nav-link {% if entry.subsubfolderitems[0] %}menu-toggle{% endif %}" href="{{ entry.url }}">{{ entry.name }}</a>
                                       {% if entry.subsubfolderitems[0] %}
                                          <ul class="menu-sub menu-drop">
                                             {% for subentry in entry.subsubfolderitems %}
                                                <li class="menu-item">
                                                   <a class="menu-link nav-link" href="{{ subentry.url }}">{{ subentry.name }}</a>
                                                </li>
                                             {% endfor %}
                                          </ul>
                                       {% endif %}
                                    </li>
                              {% endfor %}
                              </ul>
                           {% endif %}
                        {% endfor %}
                     {% endif %}               
  </nav>
